/*.col-md-4.col-sm-6 {
	border: 2px solid orange;
	background-color: blue;
	text-align: center;
	color: white;
}  */

body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}
#header-nav {
	background-color: #f6b319;
    border: 0;
}
img#logo-img {
	width:  150px;
	height:  150px;
	margin: 10px 15px 10px 0px;
	float:  left;
}

.navbar-brand {
	padding-top:25px;
}

.navbar-brand h1 {                    /*Website Name*/
	font-family: 'Lora', serif;
	color:  #557c3e;
	font-size:1.5em;
	text-transform:uppercase;
	font-weight:bold;
	text-shadow: 1px 1px 1px #222;
	margin-top:  0;
	margin-bottom:0;
	line-height: 0.75;
}
a {
	text-decoration:none;
}

.navbar-brand p {                    /*Kosher Certified*/
   color:  #000;
   text-transform: uppercase;
   font-size: 0.7em;
   margin-top: 15px;
}
.navbar-brand p span {
	vertical-align: middle;
}
.star {
	width: 30px;
	height: 30px;
}
 
span.menu-item {                   /*Menu Items*/
    margin:  0;
    float: right;
    font-weight: bolder;
    background-color: #557c3e;
    padding: 0 5px 0 5px;
    border-radius: 5px;
}
span.menu-item:hover {
    background-color: #bcc6cc;
}
.jumbotron {
	margin-bottom: 30px;
}

#menu-tile, #specials-tile, #map-tile {
	height:  250px;
	width:  100%;
	margin-bottom:  15px;
	position:  relative;
	border:  2px solid #3f0c1f;
	overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
   box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
   background: url(images/chelsea.jpg) no-repeat;
   background-position: center;
}
#specials-tile {
   background: url(images/liverpool.jpg) no-repeat;
   background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
	position:  absolute;
	bottom: 0;
	right:  0;
	width:  100%;
	text-align:center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color:  #fff;
	opacity:0.8;
}

.panel-footer {
	margin-top: 30px;
	padding-top:  35px;
	padding-bottom:  30px;
	background-color:#222;
	border-top:  0;
}
#hours > span, #address > span {
    font-size: 1.3em;
}
#address p {
	color:  #557c3e;
	font-size: 0.8em;
	line-height:1.8
}
#testimonials {
	font-style: italic;
}

.category-tiles {       /*menu categories*/
  position:  relative;
  border:  2px solid #3f0c1f;
  overflow: hidden;
  width:  200px;
  height: 200px;
  margin:  0 auto 15px;
}
.category-tiles span {
  position: absolute;
  bottom:  0;
  right:  0;
  width:  100%;
  text-align: center;
  font-size:  1.2em;
  text-transform: uppercase;
  background-color: #000;
  opacity: 0.8;
  color:  #fff;
}
.category-tiles:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
.menu-categories-title + div {
	margin-bottom:  50px;
}


/*single-categories*/
.menu-item-tile {
	margin-bottom:  25px;
}
.menu-item-tile hr {
    width:  80%;
}
.menu-item-tile .menu-item-price {
	font-size: 1.1em;
	text-align: right;
	margin-right: -15px;
	margin-top:  -15px;
}
.menu-item-tile .menu-item-price span {
	font-size: 0.6em;
}
.menu-item-photo {
	position:  relative;
	border:  2px solid #3f0c1f;
	overflow: hidden;
	padding: 0;
	margin-right: -15px;
	margin-left:auto;
	margin-bottom: 20px;
	max-width: 250px;
}
.menu-item-photo div {
	position:absolute;
	bottom: 0;
	right:  0;
	width:  80px;
	background-color:#557c3e;
	text-align: center;
}
.menu-item-description {
	padding-right:  30px;
}
h3.menu-item-title {
   margin:  0 0 10px;
}
.menu-item-details {
	font-size:  0.9em;
	font-style: italic;
}

 /*************************Small Devices*******************************/

@media (max-width: 767px) {
	img#logo-img {
	width:  0px;
	height: 0px;
	margin: 10px 15px 10px 0px;
	float:  left;
}
.navbar-brand h1 {  
	font-size:1em;
	line-height: 0.35;
}
span.menu-item {                   /*Menu Items*/
    margin: 0;
    margin-right: -4px;
    float: right;
    padding: 0 5px 0 5px;
    border-radius: 5px;
}
 .jumbotron img {
  	 background: url(images/bg.jpeg) no-repeat;
  	 height: 432px;
  	 width: 95%;
  	 box-shadow: 0 0 50px #3f0c1f;
  	 border:  2px solid #3f0c1f;
  }

.col-xxs-12 {
	position:  relative;
	min-height: 1px;
	padding-right:  15px;
	padding-left: 15px;
	float: left;
	width:  100%;
}
.menu-item-photo {
	margin-right:  auto;
}
.menu-item-tile .menu-item-price {
	text-align: center;
}
.menu-item-description {
	text-align: center;

}
}


 /*************************Large Devices*******************************/

@media (min-width:  992px) {     
  .jumbotron img {
  	 background: url(images/bg.jpeg) no-repeat;
  	 height: 675px;
  	 width: 95%;
  	 box-shadow: 0 0 50px #3f0c1f;
  	 border:  2px solid #3f0c1f;
  }
}


 /*************************Medium Devices*******************************/

@media (min-width:  768px) and (max-width: 991px) {     
  .jumbotron img {
  	 background: url(images/bg.jpeg) no-repeat;
  	 height: 558px;
  	 width: 95%;
  	 box-shadow: 0 0 50px #3f0c1f;
  	 border:  2px solid #3f0c1f;
  }
}
